name: build-bigpod

on:
  schedule:
    - cron: '15 00 * * *'
  push:
    branches:
      - main
  workflow_dispatch:
      
jobs: 
  setup:
    runs-on: ubuntu-22.04
    outputs:
      date: ${{ steps.exec-datetime.outputs.DATE }}
    steps:
    - id: exec-datetime
      name: exec datetime
      shell: bash
      run: echo "DATE=$(date +"%d%m%y%H%M")" >> $GITHUB_OUTPUT

  build-dependency:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        arch: [arm64, amd64]
    needs: setup
    steps: 
    - name: Checkout Push to Registry action
      uses: actions/checkout@v3
    - name: install-multiarch
      uses: docker/setup-qemu-action@v1
    - name: build
      shell: bash
      working-directory: ./commonSnippets
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: | 
          podman build . --platform=linux/${{matrix.arch}} -t ghcr.io/bigpod98/bigpodsb/distroboxes/dependency:$DATE-${{matrix.arch}}
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: push
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman push ghcr.io/bigpod98/bigpodsb/distroboxes/dependency:$DATE-${{matrix.arch}}

  manifest-dependency:
    runs-on: ubuntu-22.04
    needs: 
      - build-dependency
      - setup
    steps:
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: create manifest
      shell: bash
      run: podman manifest create dependency-manifest
    - name: add arm64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add dependency-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/dependency:$DATE-arm64
    - name: add amd64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add dependency-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/dependency:$DATE-amd64
    - name: push manifest
      run: podman manifest push dependency-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/dependency:latest

  build-base:
    runs-on: ubuntu-22.04
    needs: manifest-dependency
    strategy:
      fail-fast: false
      matrix:
        basetype: 
          - fedora
          - ubuntu
          - almalinux
          - alpine
          - arch
          - debian
          - opensuse
          - rockylinux
        arch: [arm64, amd64]
        exclude:
        - basetype: arch
          arch: arm64
    steps:
    - name: Checkout Push to Registry action
      uses: actions/checkout@v3
    - name: install-multiarch
      uses: docker/setup-qemu-action@v1
    - name: build
      shell: bash
      working-directory: ./${{matrix.basetype}}/baseenv
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: | 
          podman build . --platform=linux/${{matrix.arch}} -t ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:$DATE-${{matrix.arch}}
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: push
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman push ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:$DATE-${{matrix.arch}}

  build-manifests-1:
    runs-on: ubuntu-22.04
    needs: 
      - build-base
      - setup
    strategy:
      fail-fast: false
      matrix:
        basetype: 
          - fedora
          - ubuntu
          - almalinux
          - alpine
          - arch
          - debian
          - opensuse
          - rockylinux
        exclude:
          - basetype: arch
    steps:
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: create manifest
      shell: bash
      run: podman manifest create ${{matrix.basetype}}-manifest
    - name: add arm64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:$DATE-arm64
    - name: add amd64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:$DATE-amd64
    - name: push manifest
      run: podman manifest push ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:latest
      
  build-manifests-2:
    runs-on: ubuntu-22.04
    needs: 
      - build-base
      - setup
    strategy:
      fail-fast: false
      matrix:
        basetype: 
          - fedora
          - ubuntu
          - almalinux
          - alpine
          - arch
          - debian
          - opensuse
          - rockylinux
        exclude:
          - basetype: fedora
          - basetype: ubuntu
          - basetype: almalinux
          - basetype: debian
          - basetype: alpine
          - basetype: opensuse
          - basetype: rockylinux
    steps:
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: create manifest
      shell: bash
      run: podman manifest create ${{matrix.basetype}}-manifest
    - name: add amd64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:$DATE-amd64
    - name: push manifest
      run: podman manifest push ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/baseenv:latest

  build-envs:
    runs-on: ubuntu-22.04
    needs: 
      - setup
      - build-manifests-1
      - build-manifests-2
    strategy:
      fail-fast: false
      matrix:
        basetype: 
          - fedora
          - ubuntu
          - almalinux
          - alpine
          - arch
          - debian
          - opensuse
          - rockylinux
        distroboxtype: [desktopenv, standardenv, systemsenv, virtenv, shellenv]
        arch: [arm64, amd64]
        exclude:
          - distroboxtype: virtenv
          
          - basetype: arch
            arch: arm64
            
          - basetype: fedora
            distroboxtype: systemsenv
          - basetype: almalinux
            distroboxtype: desktopenv
          - basetype: almalinux
            distroboxtype: systemsenv
          - basetype: alpine
            distroboxtype: desktopenv
          - basetype: alpine
            distroboxtype: systemsenv
          - basetype: arch
            distroboxtype: desktopenv
          - basetype: arch
            distroboxtype: systemsenv
          - basetype: debian
            distroboxtype: desktopenv
          - basetype: debian
            distroboxtype: systemsenv
          - basetype: opensuse
            distroboxtype: desktopenv
          - basetype: opensuse
            distroboxtype: systemsenv
          - basetype: rockylinux
            distroboxtype: desktopenv
          - basetype: rockylinux
            distroboxtype: systemsenv
    steps:
    - name: install-multiarch
      uses: docker/setup-qemu-action@v1
    - name: Checkout Push to Registry action
      uses: actions/checkout@v3
    - name: source snippets
      working-directory: ./${{matrix.basetype}}/${{matrix.distroboxtype}}
      run: cp ../../commonSnippets/* .
    - name: build
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      working-directory: ./${{matrix.basetype}}/${{matrix.distroboxtype}}
      run: podman build . --platform=linux/${{matrix.arch}} -t ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:$DATE-${{matrix.arch}}
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: push
      env:
        DATE: ${{ needs.setup.outputs.date }}
      shell: bash
      run: podman push ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:$DATE-${{matrix.arch}}

  build-envs-manifests-1:
    runs-on: ubuntu-22.04
    needs: 
      - build-envs
      - setup
    strategy:
      fail-fast: false
      matrix:
        basetype: 
          - fedora
          - ubuntu
          - almalinux
          - alpine
          - arch
          - debian
          - opensuse
          - rockylinux
        distroboxtype: [desktopenv, standardenv, systemsenv, shellenv]
        exclude:
          - basetype: arch

          - basetype: fedora
            distroboxtype: systemsenv          
          - basetype: almalinux
            distroboxtype: desktopenv
          - basetype: almalinux
            distroboxtype: systemsenv
          - basetype: alpine
            distroboxtype: desktopenv
          - basetype: alpine
            distroboxtype: systemsenv
          - basetype: debian
            distroboxtype: desktopenv
          - basetype: debian
            distroboxtype: systemsenv
          - basetype: opensuse
            distroboxtype: desktopenv
          - basetype: opensuse
            distroboxtype: systemsenv
          - basetype: rockylinux
            distroboxtype: desktopenv
          - basetype: rockylinux
            distroboxtype: systemsenv
    steps:
    - name: login
      shell: bash
      run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
    - name: create manifest
      shell: bash
      run: podman manifest create ${{matrix.basetype}}-manifest
    - name: add arm64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:$DATE-arm64
    - name: add amd64
      shell: bash
      env:
        DATE: ${{ needs.setup.outputs.date }}
      run: podman manifest add ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:$DATE-amd64
    - name: push manifest
      run: podman manifest push ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:latest
      
  build-envs-manifests-2:
    runs-on: ubuntu-22.04
    needs: 
      - build-envs
      - setup
    strategy:
      fail-fast: false
      matrix:
        basetype: 
          - fedora
          - ubuntu
          - almalinux
          - alpine
          - arch
          - debian
          - opensuse
          - rockylinux
        distroboxtype: [desktopenv, standardenv, systemsenv, shellenv]
        exclude:
          - basetype: ubuntu
          - basetype: almalinux
          - basetype: debian
          - basetype: alpine
          - basetype: opensuse
          - basetype: rockylinux
          - basetype: fedora

          - basetype: arch
            distroboxtype: desktopenv
          - basetype: arch
            distroboxtype: systemsenv            
    steps:
      - name: login
        shell: bash
        run: podman login ghcr.io -u bigpod98 -p ${{ secrets.GITHUB_TOKEN }}
      - name: create manifest
        shell: bash
        run: podman manifest create ${{matrix.basetype}}-manifest
      - name: add amd64
        shell: bash
        env:
          DATE: ${{ needs.setup.outputs.date }}
        run: podman manifest add ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:$DATE-amd64
      - name: push manifest
        run: podman manifest push ${{matrix.basetype}}-manifest ghcr.io/bigpod98/bigpodsb/distroboxes/${{matrix.basetype}}based/${{matrix.distroboxtype}}:latest
